@keyframes bg {
  0%,to {
      background-position: 0 0
  }

  50% {
      background-position: 97% 86%
  }
}

@keyframes Animation {
  0%,to {
      background-position: 0 0
  }

  50% {
      background-position: 97% 86%
  }
}

@keyframes flash {
  0%,to {
      opacity: 0
  }

  50% {
      opacity: .9
  }
}

@keyframes flashy {
  0%,to {
      opacity: 0
  }

  1%,99% {
      filter: brightness(10)
  }

  50% {
      opacity: .9
  }

  51% {
      filter: brightness(.5)
  }
}

:root {
  --settings-background: linear-gradient(130deg, #653db0ca, #397fb0bf, #c150b9c3,  #dc9f30d8);
  --settings-outer-background: rgba(25,25,25,0.7);
  --settings-width: 80vw;
  --settings-margin-left: 10vw;
  --settings-margin-bottom: 15vh;
  --settings-height: 80vh;
  --background-main: linear-gradient(130deg, #482e77, #336588, #864982,  #d39f3d);
  --title-margin: -20px;
  --title-button-margin: 20px;
  --title-button-right: 10px;
  --blacktrans: rgba(0,0,0,0.4);
  --brand-experiment: rgba(2, 142, 20, 0.763);
  --gren: #1f842d;
  --reed: #ed4443;
  --flashytext: #39ea49
}

#app-mount,body {
  border-radius: 12px;
  background: 0 0
}

.vc-channeltabs-tab-container {
  width: calc(100vw - 125px)
}

.withFrame__485f4 {
  height: 42px;
  margin-bottom: -20px
}

.titleBar__01af6,.winButton__88672 {
  z-index: 5003!important
}

[aria-label^=Close]>svg:hover {
  transform: scale(1.6);
  transition: transform .2s ease-in-out;
  background-color: #f97a7a!important
}

[aria-label^=Close]>svg {
  background-color: #f25056!important
}

[aria-label^=Close]>svg>polygon,[aria-label^=Maximise]>svg>rect,[aria-label^=Minimise]>svg>rect {
  display: none
}

[aria-label^=Close],[aria-label^=Maximise],[aria-label^=Minimise] {
  background: 0 0!important;
  right: var(--title-button-right);
  margin-top: calc(var(--title-button-margin)*1.75)
}

[aria-label^=Maximise]>svg:hover,[aria-label^=Minimise]>svg:hover {
  transform: scale(1.6);
  transition: transform .2s ease-in-out;
  background-color: #fbe096!important
}

[aria-label^=Close]>svg,[aria-label^=Maximise]>svg,[aria-label^=Minimise]>svg {
  transform: scale(1.3);
  transition: transform .4s ease-out;
  background-size: cover!important;
  border: 1px rgba(75,75,75,.8) solid;
  border-radius: 25px
}

[aria-label^=Minimise]>svg {
  background-color: #fac536!important
}

[aria-label^=Maximise]>svg:hover {
  background-color: #85fb8f!important
}

[aria-label^=Maximise]>svg {
  background-color: var(--gren)!important
}

.wordmarkWindows__05c46>svg {
  display: none
}

.withFrame__485f4 {
  margin-top: var(--title-margin);
  border-radius: 25px
}

.container__037ed {
  background-color: none
}

.vc-channeltabs-container {
  box-shadow: var(--guild-header-text-shadow)
}

.vc-channeltabs-separator {
  background: var(--blacktrans);
  box-shadow: var(--elevation-high);
  width: 101%;
  margin-left: -5px;
  min-height: 0;
  border-radius: 50px;
  margin-top: -2px
}

.vc-channeltabs-tab {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: 16px;
  background-color: var(--blacktrans)
}

:root {
  --transfull: transparent!important
}

#channels,#vc-spotify-player,.appAsidePanelWrapper__714a6,.appMount_fae9dd,.app_b1f720,.app_de4237,.channelRow__96673,.chatContainer__23434,.chatContent__5dca8,.chat__52833,.container__0a6a9,.container__11d72,.container__590e2,.container__5c7e7,.container__93316,.container_b2ce9c,.container_ca50b9,.container_de798d,.content__1a4fe,.content__1a4fe::after,.guilds__2b93a,.header_c43d51,.mainTableContainer__5ffe0,.member_aa4760,.membersWrap__90226,.members__9f47b,.notAppAsidePanel__9d124,.nowPlayingColumn_f5023f,.pageWrapper_fef757,.panels__58331,.panels__58331 div,.platform-win,.privateChannels__93473,.scroller__4b984,.sidebar_ded4b5,.theme-dark .form__13a2c:after,.theme-dark .form__13a2c:before,.theme-dark .platform-win,.theme-dark .scroller__4b984,.title_b7d661,.userPanelInner_eddf4c,.userPanelOuter__880e5,[aria-label=Members],body {
  background: var(--transfull)
}

.channelTextArea__2e60f {
  background-color: var(--transfull)
}

.bg__12180 {
  background: var(--background-main);
  background-size: 200% 200%;
  animation: Animation 5s ease-in-out infinite;
  border-radius: 16px!important
}

.layer__2efaa:not(.baseLayer__8fda3) {
  background: var(--settings-background);
  background-position: center;
  background-size: cover;
  height: var(--settings-height);
  width: var(--settings-width);
  left: calc((100vw - var(--settings-width))/2);
  top: calc((100vh - var(--settings-height))/2 - var(--titlebar-active, 22px));
  padding-top: 0;
  margin-bottom: var(--settings-margin-bottom)!important;
  margin-left: var(--settings-margin-left);
  border-radius: 1em;
  z-index: 1
}

.baseLayer__8fda3 {
  opacity: 1!important;
  transform: scale(1)!important;
  z-index: 0
}

.layers__1c917:has(.layer__2efaa:not(.baseLayer__8fda3))>.baseLayer__8fda3:after {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  content: "";
  background: var(--settings-outer-background);
  z-index: 100
}

.contentRegion__0bec1,.standardSidebarView__1129a {
  background: 0 0
}

.contentRegionScroller__86c79,.sidebarRegionScroller__1fa7e {
  background: #00000069
}

.contentRegionScroller__86c79::-webkit-scrollbar,.sidebarRegionScroller__1fa7e::-webkit-scrollbar {
  display: none
}

.sidebar__9e3e2 {
  padding-top: 1em
}

.standardSidebarView__1129a {
  top: 0!important
}

.sidebarRegion__60457 {
  max-width: fit-content!important
}

.contentColumn_dc7d36 {
  max-width: unset
}

.side_b4b3f6 {
  align-items: center
}

.side_b4b3f6>div {
  text-shadow: #000 0 0 2px;
  color: #fff
}

.closeButton__34341,.tools_c0ff70 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  opacity: 0
}

.toolsContainer_f5d55d {
  z-index: -1
}

.pictureInPicture__48d51 * {
  background-color: rgba(0,0,0,.15);
  border-radius: 12px
}

.container__11d72 {
  --__header-bar-background: var(--__header-bar-background)
}

div.pictureInPictureVideo_f1081d {
  resize: both!important;
  border-radius: 12px;
  border: 0
}

.pictureInPictureWindow-3mx5Zy {
  box-shadow: var(--the-borders)!important
}

div.flex_f5fbb7.horizontal__992f6.justifyEnd__5d719.alignCenter__84269.noWrap__5c413>div>button>div>svg>path {
  color: var(--mactitlebar-close-btn-back)
}

.flex_f5fbb7.horizontal__992f6.justifyEnd__5d719.alignCenter__84269.noWrap__5c413 {
  flex: 0 1 25%
}

.container_b2ce9c,.members__9f47b {
  margin-left: -4px;
  width: 100px;
  transition: 1.5s ease .075s
}

.membersWrap__90226 {
  min-width: 0;
  width: min-content
}

.container_b2ce9c:hover,.container_b2ce9c:hover .members__9f47b {
  width: 260px
}

.member_aa4760 {
  max-width: unset
}

.membersGroup__85843 {
  padding-top: 0;
  height: fit-content;
  margin-top: 10px
}

.membersGroup__85843 span {
  color: #fff;
  font-size: 120%
}

.activityText__47ec1 {
  color: rgba(255,255,255,.664)
}

[class^=avatar-] {
  border-radius: 20%
}

.theme-dark .container__590e2,.themedBackground__6b1b6 {
  background: var(--blacktrans)
}

.fontSize16Padding__48818 {
  color: #fff;
  text-transform: lowercase;
  font-size: 110%
}

div.drawerSizingWrapper__30274 {
  height: 80vh;
  bottom: 0;
  right: 5px;
  width: 600px
}

.container-2nx-BQ:not(.checked-25WXMf) {
  background-color: #f04747!important
}

.container-2nx-BQ:not(.checked-25WXMf) path {
  fill: #f04747!important
}

.container-2nx-BQ.checked-25WXMf {
  background-color: var(--gren)!important
}

.container-2nx-BQ.checked-25WXMf path {
  fill: var(--gren)!important
}

.mentioned__58017:before {
  width: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.scroller__1f96e::-webkit-scrollbar-track {
  background-color: vaR(--blacktrans)
}

.auto_a48086::-webkit-scrollbar-thumb {
  background-color: #fff!important;
  border-radius: 7px
}

.thin_b1c063::-webkit-scrollbar-thumb {
  border: 0;
  border-radius: 3px;
  background-color: #fff!important
}

.menu_dc52c6.flexible__7055b[aria-label="Message Actions"] {
  background-color: var(--blacktrans);
  border-radius: 8px
}

.overlayBackground__86b78,.searchBar_e0c60b,.userPanelOverlayBackground__34fc8,[aria-label="Message Actions"]>.buttonsInner_bca8fa {
  background-color: var(--blacktrans)
}

.callContainer_cbde45,.wrapper_bd2abe {
  background-color: var(--transfull)
}

.tile_e7f911 {
  scale: 1.5
}

.outer_ac1c07 video {
  scale: 1
}

.channelChatWrapper__3e57d .container_def45c,.resizeHandle_f1a098 {
  background-color: var(--blacktrans);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.resizeHandle_f1a098 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px
}

.panels__58331>.wrapper__0ed4a {
  background-color: var(--blacktrans);
  border-radius: 12px;
  margin-bottom: 4px
}

.theme-dark .container_ca50b9 {
  background-color: var(--blacktrans);
  border-radius: 12px 12px 0 0
}

.panels__58331:not(:has(.wrapper__0ed4a))>.container_d667ff {
  background-color: var(--blacktrans);
  border-radius: 12px 12px 0 0
}

#vc-spotify-progress-bar {
  color: #09f!important
}

.theme-dark #vc-spotify-player {
  padding: .3rem!important;
  background: var(--blacktrans);
  border-radius: 14px
}

.theme-dark #vc-spotify-player .bar_e58961 {
  background-color: #09f
}

.theme-dark #vc-spotify-player .barFill__30e17 {
  background-color: rgba(0,46,77,.699)
}

.panels__58331 {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: -2px
}

.container__590e2 {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: 8px
}

.sidebar_ded4b5,.sidebar_ded4b5:hover {
  width: 165px;
  transition: .75s ease .2s
}

.sidebar_ded4b5:hover {
  width: 240px
}

.alignStretch_e239ef {
  scale: 1.1;
  margin-left: -50%;
  transition: .75s ease .2s
}

.sidebar_ded4b5:hover .alignStretch_e239ef {
  margin-left: -2%;
  transition: .75s ease .2s
}

.container_ca50b9>div>.nameTag__0e320 {
  opacity: 0;
  width: 0;
  transition: .75s ease .2s
}

.sidebar_ded4b5:hover .container_ca50b9>div>.nameTag__0e320 {
  opacity: 1!important;
  transition: 1.5s ease .4s
}

.containerDefault__3187b>div {
  padding: 0
}

.containerDefault__23a29>div>div>h3>div {
  color: #fff;
  font-size: 130%
}

#app-mount .wrapper__7bcde.modeUnread_f74c03 .icon_eff5d4,.modeUnread_f74c03 .name__8d1ec.overflow__87fe8 {
  color: var(--reed);
  animation: flash 1s ease-in-out infinite
}

.unread__48cf4.unreadRelevant__44f9e {
  background-color: var(--reed);
  animation: flash 1s ease-in-out infinite
}

.lowerBadge__669e7,.upperBadge_c7cfb3 {
  animation: flash 1.755s infinite cubic-bezier(.4,-.5,0,2)!important;
  transform: scale(1.5)!important;
  left: 16px;
}

.upperBadge_c7cfb3>div {
  background-color: var(--gren)
}

.contents_f41bb2 .avatar__08316 {
  left: 12px;
}

.cozy_f5c119 .contents_f41bb2 {
  margin-left: 8px;

}

.contents_f41bb2 > * {
  left: -4px;
}
.avatarDecoration__14b3c{display:none;}
.avatar__08316{border-radius: 20%;transform: scale(1.2)!important;}