/**
 * @name [fuckingnigger]
 * @description LUCKY's Lucky's Theme
 * @author LuckyCanucky
 * @version 1.0
 * @authorId 995923917594173440
 * @invite highndry
 * @donate https://www.discord.com/invite/highndry
 * @patreon https://www.discord.com/invite/highndry
 * @website https://github.com/trebor048
 * @source https://github.com/trebor048/discordddd/tree/main/themes/windowButtons.css
 * @updateUrl https://github.com/trebor048/discordddd/tree/main/themes/windowButtons.css
 */

/*--IMPORTS--*/

/*--ANIMATIONS--*/
@keyframes bg{0%{background-position:0% 0%}50%{background-position:97% 86%;}100%{background-position:0% 0%}}
@keyframes Animation{0%{background-position:0% 0%}50%{background-position:97% 86%;}100%{background-position:0% 0%}}
@keyframes flash {0% {opacity: 0;}50% {opacity: 0.9;}100% {opacity: 0;}}
@keyframes flashy {0% {opacity: 0;}1%{filter:brightness(10);}50% {opacity: 0.9;}51%{filter:brightness(0.5);}99%{filter:brightness(10)}100% {opacity: 0;}}

/*--ROOT--*/
:root{
    --aksent: #0084ff44;
    --bluee: #0084ff;
    --brand-experiment: #028e14c3;
    --gren: #1f842d;
    --reed: #ed4443;
    --flashytext: #39ea49;
    --butt: #10121b;
    --hibutt: #2e4963;
    --background-main:  linear-gradient(130deg, #00345ff3,#00275aee,#002049ec,#001a3bec,#001127e8, #000000f1);
    --background-tertiary: var(--background-main);
    --bradius: 14px;
    /*-------------------------------*/
    /*-------------------------------*/
    /*-------------------------------*/
    --opbg: none;
    --transfull: transparent;
    --background-primary: transparent;
    --background--secondary: rgba(0, 0, 0, 0);
    --background--secondary-alt: rgba(0, 0, 0, 0);
    --background-floating: rgba(0, 0, 0, 0);
    --bg-base-primary: rgba(0, 0, 0, 0);
    --bg-base-secondary: rgba(0, 0, 0, 0);
    --bg-base-tertiary: rgba(0, 0, 0, 0);
    --blacktrans: rgba(0, 0, 0, 0.4);
    --blacktrans1: rgba(0, 0, 0, 0.3);
    --blacktrans2: rgba(0, 0, 0, 0.2);
    --blacktrans3: rgba(0, 0, 0, 0.075);
    /*-------------------------------*/
    /*-------------------------------*/
    /*-------------------------------*/
    --bgs: 200% 200%;
    --title-margin: -20px;
    --title-button-margin: 20px;
    --title-button-right: 10px;
    --scrollbar-auto-thumb: var(--white);
    --scrollbar-auto-track: var(--blacktrans2);
    --scrollbar-thin-thumb: var(--white);
    --scrollbar-thin-track: var(--transfull);
}

/* if content__4bf10 has chat__52833 then make the header normal. 
        .theme-dark .themed_b152d4{background: var(--blacktrans1);border-radius:8px 0px 0px 14px;right:11vw;width:105vw;z-index: 3002;overflow:visible;}
        .chat__52833{overflow: visible;}
        .theme-dark .upperContainer__993ba{max-width: calc(100% - 200px);}
        .theme-dark .content__1a4fe:before{box-shadow: none;}
        
        if it doesnt 
make it noraml nized again */

/*-------BODY & WINDOW FRAME------*/
    body{border-radius:12px;background:transparent;}
    #app-mount{border-radius:12px;background:rgba(0, 0, 0, 0.479)}
    .winButton__88672,.titleBar__01af6{z-index: 5003;}
    .withFrame__485f4{height:42px;margin-bottom:-20px;margin-top:var(--title-margin);border-radius:25px;}
    .container__037ed{background-color: none;}
    .wordmarkWindows__05c46>svg{display:none;}

    /*-------CHAT HEADER--------*/
        .theme-dark .themed_b152d4{background: var(--blacktrans1);border-radius:8px 0px 0px 14px;right:11vw;width:105vw;z-index: 3002;overflow:visible;}
        .chat__52833{overflow: visible;}
        .theme-dark .upperContainer__993ba{max-width: calc(100% - 200px);}
        .theme-dark .content__1a4fe:before{box-shadow: none;}
    /*-------CHANNEL TABS-------*/
        .vc-channeltabs-tab-container{width:calc(100vw - 125px);}
        .vc-channeltabs-container{box-shadow: var(--guild-header-text-shadow);}
        .vc-channeltabs-separator{background:var(--blacktrans);box-shadow:var(--elevation-high);width:101%;min-height:0px;border-radius:50px;margin-top:-2px;}
        .vc-channeltabs-tab{border-top-left-radius:8px;border-top-right-radius:8px;background-color:var(--blacktrans);}
 
    /*-------TITLE BAR BUTTONS-------*/
            /*-------CLOSE BUTTON-------*/
                [aria-label^="Close"] > svg:hover {transform: scale(1.6);transition: transform 0.2s ease-in-out;background-color: #f97a7a !important;}
                [aria-label^="Close"] > svg{transform: scale(1.3);transition: transform 0.4s ease-out;background-color: #f25056 !important;background-size: cover !important;border:1px rgba(75, 75, 75, 0.8) solid;border-radius: 25px;}
                [aria-label^="Close"] > svg > polygon{display:none;}
                [aria-label^="Close"]{background:none!important;right:var(--title-button-right);margin-top:calc(var(--title-button-margin) * 1.75);} 
            /*-------MINIMISE BUTTON-------*/
                [aria-label^="Minimise"] > svg:hover {transform: scale(1.6);transition: transform 0.2s ease-in-out;background-color: #fbe096 !important;}
                [aria-label^="Minimise"] > svg{transform: scale(1.3);transition: transform 0.4s ease-out;background-color: #fac536 !important;background-size: cover !important;border:1px rgba(75, 75, 75, 0.8) solid;border-radius: 25px;}
                [aria-label^="Minimise"] > svg > rect{display:none;}
                [aria-label^="Minimise"]{background:none!important;right:var(--title-button-right);margin-top:calc(var(--title-button-margin) * 1.75);}
            /*-------MAXIMISE BUTTON-------*/
                [aria-label^="Maximise"] > svg:hover {transform: scale(1.6);transition: transform 0.2s ease-in-out;background-color: #85fb8f !important;}
                [aria-label^="Maximise"] > svg{transform: scale(1.3);transition: transform 0.4s ease-out;background-color: #0d9e19!important;background-size: cover !important;border:1px rgba(75, 75, 75, 0.8) solid;border-radius:25px;}
                [aria-label^="Maximise"] > svg > rect{display:none;}
                [aria-label^="Maximise"]{background:none!important;right:var(--title-button-right);margin-top:calc(var(--title-button-margin)* 1.75);}

    /*-------Video Chat Picture in Picture-------*/ 
        .background__3b30f {background-color: var(--transfull);border-radius: var(--bradius);}
        .pictureInPictureVideo_f1081d {resize: both !important;background: var(--transfull);border-radius: var(--bradius);-webkit-box-shadow: none;box-shadow: none;}
        .pictureInPictureWindow_dc49a8.elevationHigh__80ea8.borderRadius__3965c {border-radius: var(--bradius);-webkit-box-shadow: none;box-shadow: none;}

    /*-------Scroll Bars------*/
        .auto_a48086::-webkit-scrollbar-thumb, .auto_a48086::-webkit-scrollbar-track {display:none;transition: display 1.85s ease-in-out 0.075s;}
        .content__1a4fe:hover .auto_a48086::-webkit-scrollbar-track, .content__1a4fe:hover .auto_a48086::-webkit-scrollbar-thumb{display:block; transition: display 1.85s ease-in-out 0.075s;}
        .auto_a48086::-webkit-scrollbar-thumb {background-color: white !important;}
        .auto_a48086::-webkit-scrollbar-track {margin-top:16px;}
        .thin_b1c063::-webkit-scrollbar-thumb {border: none;border-radius: 12px;background-color: white !important;}


    /*-------Small Platform Indicators-------*/
        [class^="nameAndDecorator"] .vc-platform-indicator {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;margin-left: 2px !important;margin-right: -2px;max-height: 30px;}
        [class^="nameAndDecorator"] .vc-platform-indicator svg{width: 16px;}
        [class^="nameAndDecorator"] .vc-platform-indicator :only-child{height: 16px;}
        [class^="nameAndDecorator"] .vc-platform-indicator :nth-child(3){position: absolute;height: 16px;margin-left: 20px;}
    


    /*-------ON & OFF Switches-------*/
        .container-2nx-BQ:not(.checked-25WXMf) {background-color: #f04747 !important;}
        .container-2nx-BQ:not(.checked-25WXMf) path {fill: #f04747 !important;}
        .container-2nx-BQ.checked-25WXMf {background-color: #43b581 !important;}
        .container-2nx-BQ.checked-25WXMf path {fill: #43b581 !important;}

    /*-------DANGER CLICKS---------*/
        /* Add danger colours to dangerous user actions */
        #user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
        #user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active { background-color: var(--red-500)!important;color: var(--white-500)!important;    }
        #user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {background-color: var(--button-danger-background);color: var(--white-500);   }



/*-------MAIN BODY CONTENT AREA-------*/

    /*-------CHAT / MIDDLE-------*/
        /*---New Messages Top Bar---*/
            .newMessagesBar__8b6d7 > .barButtonAlt__4b48f {display: none;}
            .barBase__4e0ba,.newMessagesBar__8b6d7.barBase_4e0ba {width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;margin-left: auto;}
        /*---Server Banner bg---*/
            .animatedContainer__341f6 {background: var(--transfull);}
        /*---Text Input Chat Bar---*/
            .channelTextArea__2e60f,.themedBackground__6b1b6 {background-color: var(--blacktrans2);}
            /*Chat Text Placeholder*/
            .placeholder_e68c63,.textAreaSlate_e0e383 div {color: white;}

            /* Match channel text area to user container */

.channelTextArea__2e60f {
  margin: 0 0 0 -4px;
  border-radius:14px 14px 0 0;
}

.scrollableContainer__33e06 {
  border-radius: 14px 14px 0 0;
}

.inner__9fd0b {
  min-height: 52px;
  padding-top: 4px;
}

/* Move typing indicators */
.typing__6fd1d {
  top: -24px;
  left: 24px;
  width: fit-content;
  padding-right: 9px;
  border-radius: 9px 9px 0 0;
  background: var(--blacktrans);
}

/*-------MEMBER LIST & SEARCH / RIGHT-------*/

    /*-------MEMBER LIST-------*/
        /*Member List Slide & Background*/
            .container_b2ce9c {background: var(--transfull);margin-top:12px;height:calc(100% - 36px);}
            .members__9f47b.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0.customTheme_db4d28 {margin-left: 4px;background: var(--blacktrans1);border-radius: 16px 0px 0px 16px;}
            .container_b2ce9c:hover { width: 310px;}
            .container_b2ce9c {margin-left: -4px;width: 65px;-webkit-transition: 1.5s ease 0.075s;-o-transition: 1.5s ease 0.075s;transition: 1.5s ease 0.075s;}
        /*Member List Avatars*/
            .avatar__6337f {transform:scale(1.175);width:32px;height: 32px;}
        /*Member List Names*/
            .username_d272d6{font-size:115%;}
        /*Member Count*/
            #vc-membercount {margin-top: 0.5em !important;margin-bottom: -1em !important;opacity: 0;-webkit-transition: 1.85s ease 0.075s;-o-transition: 1.85s ease 0.075s;transition: 1.85s ease 0.075s;}
               .container_b2ce9c:hover #vc-membercount {opacity: 1;-webkit-transition: 1.85s ease-in-out 0.075s;-o-transition: 1.85s ease-in-out 0.075s;transition: 1.85s ease-in-out 0.075s;}
        /*Slide Member-Card Content*/
            .content_a6999d {opacity: 0;-webkit-transition: 1.85s ease 0.075s;-o-transition: 1.85s ease 0.075s;transition: 1.85s ease 0.075s;}
            .container_b2ce9c:hover .content_a6999d {opacity: 1;-webkit-transition: 1.85s ease-in-out 0.075s;-o-transition: 1.85s ease-in-out 0.075s;transition: 1.85s ease-in-out 0.075s;}
        /*Member-Card Backgrond*/
            .members__9f47b {background: var(--transfull);}
            .member_b44d5d {background: var(--transfull);}

    /*-------SEARCH-------*/
        /*Search Background*/
            .searchResultsWrap__9f374{background:var(--blacktrans);border-radius: 12px 12px 12px 12px;margin: 12px 6px 12px 6px;width:350px;}
        /*Search bar Background*/
            .searchBar_e0c60b {background: var(--blacktrans2);}




/*-------CHANNEL LIST & USER AREA & VC & SPOTIFY-------*/
/*-------MEMBER LIST & SEARCH / RIGHT-------*/

    /*-------CHANNEL LIST-------*/
        /*xxxxxx*/

/*Channel List bg?*/
.sidebar_ded4b5 {
    margin-left:10px;
    margin-top:60px;
    background: var(--transfull);
}
a.link__95dc0 {
    background: var(--transfull);
}
.theme-dark .container__590e2 {
    border-radius: 16px 16px 16px 16px;
    background: var(--blacktrans) !important;
}
.animatedContainer__341f6{border-radius: 16px 16px 0px 0px;}


/*-------USER AREA / BOTTOM CONTROLS------*/
    /*User Area*/
        .theme-dark .container_ca50b9{background: var(--transfull);margin-top: 6px;border-top-right-radius: 16px;border-top-left-radius: 16px;}
        .panels__58331 {margin-top:12px;background:var(--blacktrans);border-top-left-radius: 12px;border-top-right-radius: 12px;margin-bottom: -2px;border-bottom:none;}
        /*Background---- Apply styles when 'panels' does NOT have a 'wrapper' child */
        .panels__58331:not(:has(.wrapper__0ed4a)) > .container_ca50b9 {background-color: var(--blacktrans);border-radius: 12px 12px 0 0;}
        /*Background---- Apply styles when 'panels' has a 'wrapper' child */
        .panels__58331 > .wrapper__0ed4a {background-color: var(--blacktrans);margin-top: 10px;border-radius: 12px;}
        /*User Area Username*/
        .nameTag__0e320 > .panelTitleContainer__7a748 {display: none;}
        .nameTag__0e320 > .panelSubtextContainer_f28bed > div {font-weight: 700;font-size: 18px;padding-top: 2px;height: 100%;}
        /*User Area Buttons
        .panels__58331 .flex_f5fbb7 > button {right: calc(30% / 1);-webkit-transform: scale(1.15);-ms-transform: scale(1.15);transform: scale(1.15);}*/   
        /*VC Call User Area*/
        .actionButtons_b58cbb{background-color:var(--butt);box-shadow: var(--elevation-high);border-radius:16px;margin-top: -6px;opacity:0;transition: opacity 0.2s ease-in-out;}
        .panels__58331:hover .actionButtons_b58cbb{opacity:1;transition: 0.9s ease-in-out 0.3s;}
        .actionButtons_b58cb,.button__66e8c.buttonColor_a6eb73:hover{border-radius:16px 0px;transform:scale(1.075);transition: 0.215s ease-in-out;background-color: var(--hibutt);}
        .actionButtons_b58cbb,.button__66e8c.buttonColor_a6eb73 {transform:scale(1);transition: 0.115s ease-in-out;background-color: var(--butt);}
        .container_d667ff {transition:margin 0.5s ease-in-out;margin-bottom:-22%;background: var(--transfull);border-bottom:none;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;border-top-right-radius: 0px;border-top-left-radius: 0px;}
        .panels__58331:hover .container_d667ff {transition:margin 0.5s ease-in-out;margin-bottom:-0%;border-bottom:none;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;border-top-right-radius: 0px;border-top-left-radius: 0px;}
 
    /*Spotify Player*/
        .theme-dark #vc-spotify-player{padding: 0.3rem 0.3rem!important;background: var(--blacktrans);border-radius: 14px;border:rgba(255, 255, 255, 0.418) 1px ridge;}
        #vc-spotify-progress-bar {color:rgb(0, 153, 255)!important;}
        .theme-dark #vc-spotify-player .bar_e58961{background-color: rgb(0, 153, 255);}
        .theme-dark #vc-spotify-player .barFill__30e17{background-color: rgba(0, 46, 77, 0.699);}



/*-------PRIVATE CHANNELS / DM'S-------*/
    /*-------DM LIST BACKGROUND-------*/
    .theme-dark .scroller__4b984{background: var(--transfull);}
    .privateChannels__93473{background: var(--blacktrans);border-radius: 16px 16px 16px 16px;}
        /*DM Search Bar*/
        .searchBar_e4ea2a .searchBarComponent__22760{background:var(--blacktrans);}



/*-------SERVER / GUILD LIST -------*/
    /*GUILD PROFILE PICTURE*/
    [aria-label="Servers"]{min-width:150%;}
    #app-mount .wrapper__7bcde.modeUnread_f74c03 .icon_eff5d4,.modeUnread_f74c03 .name__8d1ec.overflow__87fe8 {
        color: var(--reed);
        animation: flash 1s ease-in-out infinite
      }
      
      .unread__48cf4.unreadRelevant__44f9e {
        background-color: var(--reed);
        animation: flash 1s ease-in-out infinite
      }
      
      .lowerBadge__669e7,.upperBadge_c7cfb3 {
        animation: flash 1.755s infinite cubic-bezier(.4,-.5,0,2)!important;
        transform: scale(1.5)!important;
        left: 16px;
      }
      
      .upperBadge_c7cfb3>div {
        background-color: var(--gren)
      }
/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/

/*------- -------*/